GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account-email@your-project-id.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour\nSuper\nLong\nPrivate\nKey\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your-google-spreadsheet-id-here"
